## servidor
NODE_ENV=local
PORT=3000
TOKEN=yourpersonaltoken

## swagger
SWAGGER_TITLE=Backend todo list API
SWAGGER_DESCRIPTION=Backend todo list endpoints 

## base de datos
DB_URL=postgresql://yourpostgresuserpassword:yourpostgrespassword@localhost:5432/test

## Docker
POSTGRES_USER=yourpostgresuserpassword
POSTGRES_PASSWORD=yourpostgrespassword
POSTGRES_DB=test
POSTGRES_PORT=5432

## Cors
CORS_ORIGIN=http://localhost:4200